@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(gk5FxslNkTTHtojXrkp-xNp6u9G1DIDSVZY7MSggfGc.eot)/*tpa=http://fonts.gstatic.com/s/opensanscondensed/v11/gk5FxslNkTTHtojXrkp-xNp6u9G1DIDSVZY7MSggfGc.eot*/;
}
